@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Ropa Sans', 'Roboto', sans-serif;    

    /* Color */
    --white-color: #ffffff;
    --yellow-color: #ffd600;
    --lighter-grey-color: #d6d6d6;
    --light-grey-color: #a1a1a1;
    --list-grey-color: #7e7e7e;
    --grey-color: #494949;
    --dark-grey-color: #2d2c2c;
    --black-color: #000000;
    --teal-color: #537571;
    --brown-grey-color: #808080;
}

html {
    height: 100%;
    font-size: 10px;
    font-family: var(--main-font);
}

body {
    height: 100%;
    overflow-x: hidden;
    background: var(--dark-grey-color);
}

header {
    height: 35vh;
    background : url(assets/Header.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--yellow-color);
    font-family: var(--secondary-font);
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    font-family: var(--main-font);
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

h2 {
    letter-spacing: .2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.1rem;
    color: var(--white-color);
    letter-spacing: .2rem;
    font-weight: 100;
}

li:hover {
    color: var(--black-color);
    transition: linear .3s;
}


li:nth-of-type(2n) {
    background: var(--lighter-grey-color);
    color: var(--black-color);
}

li:nth-of-type(2n):hover {
    color: var(--white-color);
}

i {
    font-size: 1.5rem;
    cursor: pointer;
}

i:hover {
    color: var(--lighter-grey-color);
    transition: linear .2s;
}

header h1 {
    grid-column: 1 / 2;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-around;
}

.box {
    justify-self: center;
    height: 27rem;
    width: 20rem;
    background: var(--light-grey-color);
    transform: translateY(-5%);

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    position: relative;
}

.box-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header {
    color: var(--yellow-color);
    padding: 1rem;
}

.characters > .box-header {
    background: var(--dark-grey-color);
}

.details > .box-header {
    background: var(--teal-color);
}

.toggle {
    grid-row: 9;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.side-num {
    font-size: 1.3rem;
    letter-spacing: .3rem;
    margin: .5rem 1rem;
}

.details-wrapper {
    grid-row: 2 / span 9;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.top {
    padding: .25rem 1rem;
}

.bottom {
    padding: .25rem 1rem;
    color: var(--white-color);
    background: var(--list-grey-color);
}

.top p, .bottom p {
    letter-spacing: .1rem;
    padding: .25rem 0;
}

.loader-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.char-loader {
    margin-bottom: -100%;
}

.loader {
    border-top: .3rem solid var(--grey-color);
    border-right: .1rem solid var(--grey-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
}

.hide {
    display:none;
}


/* MEDIA QUERIES */

@media screen and (max-width: 450px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .box {
        transform: translateY(0%);
        margin: 2rem;
    }
}


@media screen and (min-width: 610px) {
    .box {
        height: 45rem;
        width: 30rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p, li {
        font-size: 1.4rem;
        padding: 1rem;
    }

    .the-arrow {
      width: 1px;
      transition: all 0.2s;
    }
    .the-arrow.-left {
      position: absolute;
      top: 60%;
      left: 0;
    }
    .the-arrow.-left > .shaft {
      width: 0;
      background-color: #4c4c4c;
    }
    .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
      width: 0;
      background-color: #4c4c4c;
    }
    .the-arrow.-left > .shaft:before {
      transform: rotate(0);
    }
    .the-arrow.-left > .shaft:after {
      transform: rotate(0);
    }
    .the-arrow.-right {
      top: 3px;
    }
    .the-arrow.-right > .shaft {
      width: 1px;
      transition-delay: 0.2s;
    }
    .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
      width: 8px;
      transition-delay: 0.3s;
      transition: all 0.5s;
    }
    .the-arrow.-right > .shaft:before {
      transform: rotate(40deg);
    }
    .the-arrow.-right > .shaft:after {
      transform: rotate(-40deg);
    }
    .the-arrow > .shaft {
      background-color: var(--brown-grey-color);
      display: block;
      height: 1px;
      position: relative;
      transition: all 0.2s;
      transition-delay: 0;
      will-change: transform;
    }
    .the-arrow > .shaft:before, .the-arrow > .shaft:after {
      background-color: var(--brown-grey-color);
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.2s;
      transition-delay: 0;
    }
    .the-arrow > .shaft:before {
      transform-origin: top right;
    }
    .the-arrow > .shaft:after {
      transform-origin: bottom right;
    }
    
    .animated-arrow {
      display: inline-block;
      color: #4c4c4c;
      font-size: 1.25em;
      text-decoration: none;
      position: relative;
      transition: all 0.2s;
    }
    li:hover > .animated-arrow {
      color: var(--brown-grey-color);
    }
    li:hover > .animated-arrow > .the-arrow.-left > .shaft {
      width: 64px;
      transition-delay: 0.1s;
      background-color: var(--brown-grey-color);
    }
    li:hover > .animated-arrow > .the-arrow.-left > .shaft:before, li:hover > .animated-arrow > .the-arrow.-left > .shaft:after {
      width: 8px;
      transition-delay: 0.1s;
      background-color: var(--brown-grey-color);
    }
    li:hover > .animated-arrow > .the-arrow.-left > .shaft:before {
      transform: rotate(40deg);
    }
    li:hover > .animated-arrow > .the-arrow.-left > .shaft:after {
      transform: rotate(-40deg);
    }
    li:hover > .animated-arrow > .char {
      transform: translateX(17px);
      transform: translateX(80px);
    }
    li:hover > .animated-arrow > .char > .the-arrow.-right > .shaft {
      width: 0;
      transform: translateX(200%);
      transition-delay: 0;
    }
    li:hover > .animated-arrow > .char > .the-arrow.-right > .shaft:before, li:hover > .animated-arrow > .char > .the-arrow.-right > .shaft:after {
      width: 0;
      transition-delay: 0;
      transition: all 0.1s;
    }
    li:hover > .animated-arrow > .char > .the-arrow.-right > .shaft:before {
      transform: rotate(0);
    }
    li:hover > .animated-arrow > .char > .the-arrow.-right > .shaft:after {
      transform: rotate(0);
    }
    .animated-arrow > .char {
      display: flex;
      align-items: center;
      transition: all 0.2s;
    }
    .animated-arrow > .char > .text {
      margin: 0 16px 0 0;
      line-height: 1;
    }
    .animated-arrow > .char > .the-arrow {
      position: relative;
    }
  
}

@media screen and (min-width: 1270px) {
    h1 {
        font-size: 4rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .characters {
        grid-column: 2;
    }
    .details {
        grid-column: 3;
    }
}

/* KEYFRAMES */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}